form{
    padding:30px;
    height:250px;
}
input[type=text]{
    margin-bottom: 10px;  
}
.ng-container{
    margin-top: 10px;
}
.form , .form-control{
   border:1px solid black;  
}
 
