form{
    border: 1px solid black;
    padding:30px;
    height:250px;
}
input[type=text]{
    margin-bottom: 10px;
    border:1px solid black;
}
#contact{
    border:1px solid black;  
}


 